body {
    background-color: pink;
}

li a.active{
    background-color: blueviolet;      /*    NO VA !!!! */
}
li a:hover{
    background-color: beige;
}


div{
    width: 700px;
    height: 400px;
    background-color: antiquewhite;
}
