
body{

    margin:0 auto;
}



/*  /////////////////   ESTE CÓDIGO ES PARA EL LOGAMIENTO  ( lo comento para que no interfiera con el resto, pues habría que tenerlo en archivo A PARTE )
body { 
    font-family: Arial, sans-serif; 
    background-color: #f2f2f2; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
} 
.container {
    background-color: white; 
    padding: 20px; 
    border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
} 
input { 
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 5px; 
} 
button { width: 100%; 
         padding: 10px; 
         background-color: #007bff; 
         color: white; 
         border: none; 
         border-radius: 5px; 
         cursor: pointer; 
        } 
button:hover { 
    background-color: #0056b3; 
} 
///////////////////////     FIN del CÓDIGO  PARA EL LOGAMIENTO  */



#personal{
    width: 1000px;
    height: auto;
    background-color: mediumaquamarine;
    color: darkgreen;
    font-size: x-large;
    margin: 5em;
    padding: 1em;
    text-align:center;
}
#btn{
    margin-bottom:1em;
}
#volcado-ficha{
    width: 500px;
    height: 300px;
    border: 7px solid yellowgreen;
    margin:0 auto;
}

/* //////////////////////////////////////////////////////////// */
#personal2{
    width: 1000px;
    height: auto;
    background-color: rgb(102, 183, 205);
    color: rgb(16, 87, 135);
    font-size: x-large;
    margin: 5em;
    padding: 1em;
    text-align:center;
}
#btn2{
    margin-bottom:1em;
}
#volcado-ficha2{
    width: 500px;
    height: 300px;
    border: 7px solid rgb(249, 150, 38);
    margin:0 auto;
}
/* //////////////////////////////////////////////////////////// */




#paquete{
    margin: 15em ;
}

#personas{
    width: 100px;
    height: auto;
    background-color: darkgray;
}
#caja3{
    width: 700px;
    height: 200px;
    border:4px solid rgb(110, 230, 120);
}


.subir{
    margin-top:10px;
}

h3{
    color:bisque;
    font-size: 3em;
}


.cambios{
    width: 1000px;
    height: auto;
    padding:7px;
    border: 9px solid rgb(181, 203, 40);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:relative;
    top:20em;
    left:15em;
}
#caja,#caja2{
    width: 1100px;
    height: 200px;
    border:2px solid grey;
    display:flex;
    flex-direction: row;
    justify-content:center;
    background-color: rgb(146, 188, 188);
    }
#p-caja,#p-caja2{
    width: 1100px;
    height: 90px;
    border:2px solid grey;
    background-color: aqua;
}

#pulsar{
    position:relative;
    width: 90px;
    height:90px;
    background-color: rgb(26, 19, 234);
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

#cubo{ 
    width: 1000px;
    height: auto;
    padding:7px;
    border: 5px solid rgb(255, 0, 174);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:relative;
    top:5em;
    left:15em;
}

.cubetes{
    width: 170px;
    height: 170px;
    background-color: rgb(222, 104, 45);
    margin: 3px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border: 5px solid grey;
  }

  .image {
    width: 50%;
    height: auto;
  }