body{
    background-color: aquamarine;
    display:flex;
    justify-content:center;
}

.caja{
    width: 75%;
    height: auto;
    background-color: black;
    color:white;
}

.caja__ul-sup{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.caja__ul-inf{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    display:none;
    opacity:0:

    height: 0;
    background-color: brown;

}
.li-inf{

}

.caja__ul-sup:hover .caja__ul-inf{
    display:block;
    opacity:1;
    height: 50px;
    transition:height 2.1s;   
    transition:opacity 1.1s; 
}